body {
    background-color: aquamarine;
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    font-size: 50px;
    color: aquamarine;
}

p {
    font-size: 22px;
}

body {
    background-color: aquamarine;
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    font-size: 50px;
    color: aquamarine;
}

p {
    font-size: 22px;
}

body {
    background-color: aquamarine;
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    font-size: 50px;
    color: aquamarine;
}

p {
    font-size: 22px;
}

body {
    background-color: aquamarine;
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    font-size: 50px;
    color: aquamarine;
}

p {
    font-size: 22px;
}